name: Auto Deploy to Heroku

on:
  workflow_dispatch: # 支持手动点击运行
  push:
    branches: [ main ] # 每次推代码到 main 都会部署

jobs:
  heroku-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy Docker Image
        uses: gonuit/heroku-docker-deploy@v1.3.3
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          process_type: web
